extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-light_blue Bienes 
            span.font-normal.text-pink Raíces  
        h2.text-center.text-2xl.font-extrabold.text-black= pagina

        if errores 
            div(class="fixed top-10 right-10 max-w-md mx-auto my-10 z-50")
                each error in errores
                    div(class="bg-pink text-white text-lg uppercase text-center p-4 mb-2 rounded-lg shadow-lg alert fade-in relative") 
                        p.font-bold= error.msg
                        button(class="absolute top-0 right-0 mt-1 mr-2 bg-transparent border-0 text-white text-2xl focus:outline-none focus:text-3xl hover:text-black" aria-label="Cerrar" onclick="this.parentElement.style.display='none'") &times;

        .mt-8.mx-auto.max-w-md 
            .bg-white.py-8.px-4.shadow.rounded-lg.border.border-light_blue
                form.space-y-5(method="POST" action="/auth/registro" novalidate)
                    input(type="hidden" name="_csrf" value= csrfToken) 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Tu Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu nombre" type="text" name="nombre" value= usuario ? usuario.nombre : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="alias") Alias
                        input#alias.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu alias" type="text" name="alias" value= usuario ? usuario.alias : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="fecha_nacimiento") Fecha de Nacimiento
                        input#fecha_nacimiento.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="date" name="fecha_nacimiento" value= usuario ? usuario.fecha_nacimiento : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email de Registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu email" type="email" name="email" value= usuario ? usuario.email : '' ) 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu password" type="password" name="password" )        
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="repetir_password") Repetir Password
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite tu password" type="password" name="repetir_password")         
                    
                    div.flex.items-center.justify-between 
                        a.text-light_blue.text-xs(href="/auth/login" class="hover:underline decoration-2 hover:decoration-red") ¿Ya tienes cuenta? Inicia Sesión
                        a.text-light_blue.text-xs(href="/auth/olvide-password" class="hover:underline decoration-2 hover:decoration-red") Olvide mi Password 

                    input(class="w-full bg-light_blue hover:bg-greenish text-white font-bold py-3 cursor-pointer transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg" type="submit" value="Crear cuenta")
    
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')

    script.
        document.querySelectorAll('.alert').forEach(error => {
            setTimeout(() => {
                error.classList.add('fade-out');  
                setTimeout(() => {
                    error.style.display = 'none';
                }, 1000);  
            }, 9000);
        });

    style.
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        @keyframes fadeOut {
            0% { opacity: 1; }
            100% { opacity: 0; }
        }

        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }

        .fade-out {
            animation: fadeOut 1s ease-in-out;
        }

        .alert:hover {
            transform: translateX(10px);  
            cursor: pointer; 
            transition: transform 0.3s ease; 
        }

        .alert button {
            transition: transform 0.3s ease, color 0.3s ease;
        }

        .alert button:hover {
            color: black;
            transform: scale(1.2);
        }

        .alert button:focus {
            color: black;
            transform: scale(1.3);
        }
